{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}

{% block title %}Entrar{% endblock %}

{% block content %}

<main>
  <div id="login" class="container">
    <form method="POST">
      {% csrf_token %}
      <h3>Entrar com</h3>
      <ul>
        <li><a href="{% provider_login_url 'facebook' method='oauth2' %}"><i class="bi bi-facebook"> Facebook</i></a></li>
        <li><a href="{% provider_login_url 'google' method='js_sdk' %}"><i class="bi bi-google"> Google</i></a></li>
      </ul>
      {{form}}
      <input type="submit" value="Enviar" class="form-control btn btn-dark">
      <p>Não tem uma conta?<a href="{% url 'account_signup' %}"> Cadastrar</a><p>
    </form>
  </div>
</main>

{% include 'footer.html' %}
{% endblock content %}

