*, *:before, *:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a{
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

main{
  min-height: 70vh;
}

a:hover{
  color: #000;
}

#all-desktop-header{
  display: none;
}

.topbar{
  width: 100%;
  height: 80px;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.topbar span a{
  font-family: 'Anton', sans-serif;
  font-size: 30px;
  color: #000;
}

.topbar .topbar-icons{
  display: flex;
  align-items: center;
}

.topbar .topbar-icons a:nth-child(2){
  margin: 0 20px 0 20px;
}

.topbar .topbar-icons a{
  color: gray;
}

.badge{
  font-size: 12px;
}

/* Hamburger */
#chk{
  display: none;
}

.hamburger-div{
  width: 30px;
  height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hamburger-icon{
  display: block;
  background: #000;
  width: 30px;
  height: 2.5px;
  position: relative;
  z-index: 2;
}

.hamburger-icon:before, .hamburger-icon:after{
  background: #000;
  content: '';
  display: block;
  width: 30px;
  height: 2.5px;
  position: absolute;
  transition: .3s;
}

.hamburger-icon:before{
  top: -8px;
}


.hamburger-icon:after{
  bottom: -8px;
}

input:checked ~ label .hamburger-icon{
  transform: rotate(45deg);
}


input:checked ~ label .hamburger-icon:before{
  transform: rotate(90deg);
  top: 0px;
}


input:checked ~ label .hamburger-icon:after{
  transform: rotate(90deg);
  bottom: 0px;
}

/* DropDown */
.dropdown{
  width: 100%;
  height: 0px;
  overflow: hidden;
  transition: .3s;
}

.dropdown-top{
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.dropdown .search{
  width: 370px;
  height: 35px;
  font-size: 17px;
  color: gray;
}

.translateAndtheme{
  margin-top: 25px;
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.bi-moon-stars-fill:hover, .bi-brightness-high:hover{
  cursor: pointer;
}

.theme{
  font-size: 20px;
}

#ThemeChk{
  display: none;
}

.dropdown-top select{
  width: 100px;
  height: 30px;
  opacity: .5;
}

.dropdown-top hr{
  width: 50px;
  margin-bottom: 5px;
  color: gray;
  opacity: 1;
}

.dropdown .dropdown-top .social-midia{
  margin: 25px 0 5px 0;
}

.dropdown .dropdown-top .social-midia a{
  font-size: 18px;
  margin-right: 10px;
  color: gray;
}

.dropdown nav{
  background-color: #E65540;
  height: 100%;
}

.dropdown nav ul{
  padding: 20px 0 0 20px;
}

.dropdown nav ul li a{
  line-height: 38px;
  color: #fff;
}

/* Slide */
.container-fluid{
  padding: 0;
}

.container-fluid .carousel-inner .carousel-item{
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-fluid .carousel-inner .carousel-item:nth-child(1){
  background-image: url("../imgs/banner-01.jpg");
}

.container-fluid .carousel-inner .carousel-item:nth-child(2){
  background-image: url("../imgs/master-slide-03.jpg");
}

.container-fluid .carousel-inner .carousel-item:nth-child(3){
  background-image: url("../imgs/master-slide-04.jpg");
}

.container-fluid .carousel-inner .carousel-item .carousel-caption{
  top: 25%;
}

.container-fluid .carousel-inner .carousel-item .carousel-caption h5{
  font-size: 40px;
  font-weight: bold;
}

.container-fluid .carousel-inner .carousel-item .carousel-caption p{
  margin-bottom: 50px;
}

.container-fluid .carousel-inner .carousel-item .carousel-caption a{
  background-color: #FFF;
  padding: 10px 30px 10px 30px;
  border-radius: 50px;
  font-weight: lighter;
}

.container-fluid .carousel-inner .carousel-item .carousel-caption a:hover{
  background-color: #E65540;
  color: #FFF;
}

/* Categories */
main .categories{
  margin-top: 30px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

main .category{
  margin: 10px;
  width: 400px;
}

main .category img{
  width: 100%;
  height: 100%;
}

main .categories a{
  margin-top: -90px;
  font-weight: lighter;
  padding: 5px 30px 5px 30px;
}

main .categories a:hover{
  background-color: #E65540;
  color: #FFF;
}


/* Featured Slide */
.featured-products-slide{
  display: flex;
  overflow: scroll;
  text-align: center;
  margin: 10px auto 10px auto;
}

.featured-products h5{
  text-align: center;
  font-weight: bold;
  margin: 50px 0 20px 0;
}

.featured-slide-item{
  margin-right: 5px;
}

.featured-products-slide img{
  width: 250px;
  height: 70%;
}

/* Instagram Post */
.instagram{
  margin-top: 50px;
  text-align: center;
}

.instagram div{
  display: flex;
  flex-wrap: wrap;
}

.instagram h5{
  margin-bottom: 30px;
  font-weight: bold;
}

.instagram-post{
  background-color: #000;
  position: relative;
  width: 100%;
}

.instagram-post:hover > p{
  display: block;
  transition: 0.2s;
}

.instagram-post p{
  color: #fff;
  position: absolute;
  top: 30%;
  padding: 20px;
  display: none;
}

.instagram-post img{
  width: 100%;
  height: 350px;
}

.instagram-post img:hover{
  opacity: .5;
  transition: 0.2s;
}

/* Footer */
footer{
  background-color: #f0f0f0;
  margin-top: 70px;
  padding: 55px 20px 5px 20px;;
}

footer a:hover{
  color: #E65540;
}

footer p{
  color: gray
}

footer p:last-child{
  text-align: center;
}

footer h5{
  margin: 20px 0 30px 0;
  font-size: 17px;
}

footer .social-midia a{
  font-size: 18px;
  margin-right: 10px;
  color: gray;
}

footer .social-midia a:hover{
  color: #E65540;
}

footer .links-list li a{
  color: gray;
}

footer .links-list li a:hover{
  color: #E65540;
}


/* ----------------------- */
/* About */
/* ----------------------- */
.top-banner{
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../imgs/office.jpg");
}

.top-banner h2{
  color: #FFF;
  font-size: 40px;
  text-align: center;
  padding-top: 160px;
  font-weight: bold;
}

.about-body, .contact-body{
  margin-top: 50px;
}

.about-body div h4, .contact-body div h4{
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 30px;
}

.about-body div p, .contact-body div p{
  color: gray;
}

.about-body img{
  max-height: 400px;
  padding-bottom: 50px;
}

.contact-body iframe{
  height: 400px; 
}


/* ----------------------- */
/* Config */
/* ----------------------- */
.procfile-config-image img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.procfile-config-image{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back{
  text-align: center;
}

.config-form input, .config-form select{
  width: 100%;
  padding: 8px;
  border: 1px solid #D3D3D3;
  border-radius: 5px;
}


/* ----------------------- */
/* Login
/* ----------------------- */
#login{
  margin-top: 10vh;
  max-width: 700px;
}

#login form{
  text-align: center;
}

#login form ul li{
  padding: 7px 10px;
  margin: 5px;
  border-radius: 5px;
}

#login form ul li:nth-child(1){
  background-color: #3B5998;
  color: #fff;
}

#login form ul li:nth-child(2){
  border: 2px solid #ddd;
}

.btn-black{
  background-color: #000;
  color: #fff;
}

#login form ul{
  display: flex;
  justify-content: center;
}

#login form input{
  margin: 15px 0;
}

#login p a{
  color: #3B5998;
}

#login form label{
  display: none;
}

#login form input{
  width: 95%;
  max-width: 500px;
  padding: 8px;
}


/* ----------------------- */
/* Logout  */
/* ----------------------- */
.exit-sys{
  width: 90%;
  margin: 0 auto 0 auto;
  padding-top: 70px;
  text-align: center;
}

.exit-sys h2{
  color:  #003153;
  font-family: 'Coda Caption', sans-serif;
}

.exit-sys div{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 40px;
}

.exit-sys div form input{
   background-color: red;
   color: #fff;
   padding: 8px 30px;
   border: none;
   border-radius: 5px;
   margin-right: 30px;
}

.exit-sys div form input:hover{
  box-shadow: 0 0 5px #ff96ad, 0 0 25px #ff96ad, 0 0 50px #ff96ad, 0 0 200px #ff96ad;
}

.exit-sys div a{
}



/* ----------------------- */
/* Cart
/* ----------------------- */
.cart-title{
    margin-bottom: 5vh;
    margin-top: 50px;
}

.cart-card{
    margin: 50px auto auto auto;
    max-width: 950px;
    width: 90%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent;
}

@media(max-width:767px){
    .cart-card{
        margin: 3vh auto;
    }
}

.cart-main{
    background-color: #fff;
    padding: 4vh 3vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}
@media(max-width:767px){
    .cart-main{
        padding: 3vh;
        border-bottom-left-radius: unset;
        border-top-right-radius: 1rem;
    }
}
.cart-summary{
    background-color: #ddd;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 4vh;
    color: rgb(65, 65, 65);
}

@media(max-width:767px){
    .cart-summary{
    border-top-right-radius: unset;
    border-bottom-left-radius: 1rem;
    }
}

.cart-summary .col-2{
    padding: 0;
}

.cart-summary .col-10{
    padding: 0;
}

.cart-card .row{
    margin: 0;
}

.cart-title b{
    font-size: 1.5rem;
}

.cart-main{
    margin: 0;
    padding: 2vh 0;
    width: 100%;
}

.cart-card .col-2, .cart-card .col{
    padding: 0 1vh;
}

.cart-card a{
    padding: 0.6vh;
}

.close{
    margin-left: auto;
    font-size: 0.7rem;
}

.cart-main img{
    width: 3.5rem;
}

.back-to-shop{
    margin-top: 4.5rem;
    margin-bottom: 50px;
}

.cart-card h5{
    margin-top: 4vh;
}

.cart-card hr{
    margin-top: 1.25rem;
}

.cart-summary form{
    padding: 2vh 0;
}

.cart-summary input{
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}

.cart-summary input:focus::-webkit-input-placeholder{
      color:transparent;
}

.cart-summary .btn{
    background-color: #000;
    border-color: #000;
    color: white;
    width: 100%;
    font-size: 0.7rem;
    margin-top: 4vh;
    padding: 1vh;
    border-radius: 0;
}
.cart-summary .btn:focus{
    box-shadow: none;
    outline: none;
    box-shadow: none;
    color: white;
    -webkit-box-shadow: none;
    -webkit-user-select: none;
    transition: none; 
}
.cart-summary .btn:hover{
    color: white;
}

.cart-summary a{
    color: black; 
}

.cart-summary a:hover{
    color: black;
    text-decoration: none;
}

#code{
	background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253) , rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
	background-repeat: no-repeat;
	background-position-x: 95%;
	background-position-y: center;
}

.cart-empty{
  margin-top: 50px;
  text-align: center;
}

.cart-empty img{
  width: 350px;
}


/* ----------------------- */
/* Success
/* ----------------------- */

.success-page{
 text-align: center;
 padding: 40px 0;
}

.success-page div{
  width: 95%;
  max-width: 400px;
  padding: 60px;
  border-radius: 4px;
  box-shadow: 0 2px 3px #C8D0D8;
  display: inline-block;
  margin: 50px auto;
}


.success-page div i{
  color: #9ABC66;
  font-size: 100px;
  line-height: 100px;
  margin-left:-15px;
}

.success-page div a{
  font-size:20px;
  color: #19a3f7;
}

.success-page div p{
  color: #404F5E;
  font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
  font-size:20px;
  margin: 0;
  padding-bottom: 20px;
}

.success-page div h1{
  color: #88B04B;
  font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
  font-weight: 900;
  font-size: 40px;
  margin: 15px 0 10px 0;
}



/* ----------------------- */
/* Dark  */
/* ----------------------- */
.dark{
  background-color: #121212;
  color: #fff;
}

.dark .topbar span a, .dark .desktop-header span a, .dark .desktop-header nav ul li a, .dark .desktop-header div a{
  color: #fff;
}

.dark .theme{
  color: #fff;
}

.dark .hamburger-icon{
  background: #fff;
}

.dark footer{
  background-color: #343A40;
}

.dark .desktop-header-top{
  background-color: #343A40;
}

.dark .hamburger-icon:before, .dark .hamburger-icon:after{
  background: #fff;
}

.dark .cart-card .cart{
  background-color: #343A40;
}

.dark .cart-card .cart-main a{
  color: #000;
}

.dark .cart-main{
  background-color: #ddd;
}

.dark .back-to-shop a, .dark .back a{
  color: #fff;
}

.dark .btn-black{
  background-color: green;
  border: none;
}

.dark .success-page div{
  background-color: #343A40;
}

.dark .success-page div p{
  color: #fff;
}

.dark .exit-sys h2{
  color: #fff;
}

.dark .exit-sys a{
  color: #fff;
}



/* ----------------------- */
/* Responsive */
/* ----------------------- */
@media (min-width: 520px){
  .instagram .instagram-post{
    width: 50%;
  }

  .instagram-post img{
    height: 350px;
  }
}

@media (min-width: 950px){
  main .category{
    width: 30%;
  }

  .featured-products-slide{
    margin: 20px;
  }

  .instagram .instagram-post{
    width: 25%;
  }

  .instagram .instagram-post img{
    height: 350px;
  }

  .config-form{
    width: 50%;
  }

  .desktop-header .badge{
    font-size: 12px;
    color: #fff;
  }

  #login-container{
    width: 768px;
  }

}


@media (min-width: 1100px){
  #mobile-header{
    display: none;
  }

  /* Desktop Header */
  #all-desktop-header{
    display: block;
  }

  .desktop-header-top{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
  }

  .desktop-header-top .search{
    padding: 3px;
  }

  .desktop-header-top select{
    opacity: .5;
  }

  .translateAndtheme{
    margin-top: 0;
  }

  .desktop-header-top .topbar-icons a{
    font-size: 18px;
    margin-right: 10px;
    color: gray;
  }

  .topbar-icons a:hover{
    color: #E65540;
  }

  .desktop-header{
    width: 100%;
    height: 80px;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  .desktop-header span{
    font-family: 'Anton', sans-serif;
    color: #000;
    font-size: 30px;
  }

  .desktop-header div{
    opacity: .5;
    padding: 5px;
  }

  .desktop-header div a{
    padding: 10px;
  }

  .desktop-header div a:hover{
    color: #E65540;
  }

  .desktop-header nav ul li{
    padding: 7px;
    font-size: 20px;
    font-weight: lighter;
  }

  .desktop-header nav ul li a:hover{
    color: #E65540;
  }
  /* END */

  .container-fluid .carousel-inner .carousel-item{
    height: 500px;
  }

  main .category{
    width: 31%;
  }

  .featured-products-slide{
    margin: 10px;
  }

  .instagram .instagram-post{
    width: 20%;
  }

  .instagram .instagram-post img{
    height: 350px;
  }
}


@media (min-width: 1400px){
  main .category{
    width: 25%;
  }

  .featured-products-slide{
    margin: 0 140px;
  }

}

