<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-3">
        <h5>Entrar em Contato</h5>
        <p>Alguma dúvida? Fale conosco pelas formas de contato disponíveis abaixo. Em menos de 24 horas lhe retornaremos.</p>
        <ul class="social-midia list-unstyled d-flex">
          <li><a href=""><i class="bi bi-instagram"></i></a></li>
          <li><a href=""><i class="bi bi-facebook"></i></a></li>
          <li><a href="{% url 'page:contact' %}"><i class="bi bi-envelope"></i></a></li>
          <li><a href=""><i class="bi bi-whatsapp"></i></a></li>
          <li><a href=""><i class="bi bi-telegram"></i></a></li>
        </ul>
      </div>

      <div class="col-sm-12 col-lg-3">
        <h5>CATEGORIES</h5>
        <ul class="links-list list-unstyled">
          <li><a href="/produtos/categoria/vestidos">Vestidos</a></li>
          <li><a href="/produtos/categoria/sapatos">Sapatos</a></li>
          <li><a href="/produtos/categoria/mochilas">Mochilas</a></li>
          <li><a href="/produtos/categoria/olhos">Óculos</a></li>
          <li><a href="/produtos/categoria/braceletes">Relógios</a></li>
          <li><a href="/produtos/categoria/camisas">Camisas</a></li>
        </ul>
      </div>

      <div class="col-sm-12 col-lg-3">
        <h5>LINKS</h5>
        <ul class="links-list list-unstyled">
          <li><a href="{% url 'products:home' %}">Início</a></li>
          <li><a href="{% url 'products:products' %}">Loja</a></li>
          <li><a href="{% url 'page:about' %}">Sobre</a></li>
          <li><a href="{% url 'products:home' %}#featured-products">Destaques de Produtos</a></li>
          <li><a href="blog.html">Blog</a></li>
        </ul>
      </div>

      <div class="col-sm-12 col-lg-3">
        <h5>AJUDA</h5>
        <ul class="links-list list-unstyled">
          <li><a href="">Acompanhar Pedido</a></li>
          <li><a href="">Suporte</a></li>
          <li><a href="">FaQs</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <p>@copyright Thunder Variedades</p>
  </div>
</footer>


